
.btn( @buttonColor: @-lesskit-color-btn, @buttonTextColor: @-lesskit-color-btn-text, @size: @-lesskit-font-size-unitless ) {

    cursor: pointer;
    .border-box();
    .inline-block();
    .disable-user-select();
    -webkit-appearance: none;

    font: inherit;
    .font-size-rems( @size );
    color: @buttonTextColor;
    text-decoration: none;
	#gradient > .vertical(darken(@buttonColor,5%), darken(@buttonColor, 15%));
  }

  // Focus state for keyboard and accessibility
  &:focus {
    outline: 1px dotted #666;
  }

  &.disabled {
    cursor: default;
    background-image: none;
    .reset-filter();
    .box-shadow(none);
  }
  &[disabled] {
    // disabled pseudo can't be included with .disabled
    // def because IE8 and below will drop it ;_;
    cursor: default;
    background-image: none;
    .reset-filter();
    .box-shadow(none);
  }

}

// Super jank hack for removing border-radius from IE9 so we can keep filter gradients on alerts and buttons
:root .alert-message,
:root .btn {
  border-radius: 0 \0;
}

// Help Firefox not be a jerk about adding extra padding to buttons
button::-moz-focus-inner, input[type=submit]::-moz-focus-inner {
	padding: 0;
	border: 0;
}
