//  -------------------------------------------------------- //
//  Buttons
//  -------------------------------------------------------- //

.btn( @buttonColor: @-lesskit-color-btn, @buttonTextColor: @-lesskit-color-btn-text, @size: @-lesskit-font-size-unitless ) {

    cursor: pointer;
    .border-box();
    display: inline-block;
    .disable-user-select();
    -webkit-appearance: none;

    font: inherit;
    .font-size-rems( @size );
    color: @buttonTextColor;
    background-color: @buttonColor;

    border: 0 none;
    margin: 0;
    height: 2em;
    line-height: 2;
    padding: 0 .75em;
    position: relative;

    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;

    &:visited {
        color: @buttonTextColor;
    }

    &:hover,
    &:focus,
    &:active {
        color: @buttonTextColor;
        background-color: darken( @buttonColor, 10% );
        text-decoration: none;
    }

    // Focus state for keyboard and accessibility
    &:focus {
        outline: 1px dotted #666;
    }

    &.disabled {
        cursor: default;
        cursor: not-allowed;
        background-image: none;
        box-shadow: none;
    }
    &[disabled] {
        // disabled pseudo can't be included with .disabled
        // def because IE8 and below will drop it ;_;
        cursor: default;
        cursor: not-allowed;
        box-shadow: none;
    }

}

.btn-unstyled( @size: @-lesskit-font-size-unitless, @color: @-lesskit-color-text ) {

    color: @color;
    background-color: transparent;
    margin: 0;
    text-decoration: none;
    border: 0 none;
    cursor: inherit;

    &:active,
    &:focus {
        outline: none;
    }

    &:hover,
    &:focus,
    &:active {
        color: darken( @color, 10%);
        background-color: transparent;
        text-decoration: underline;
    }

}

.hover-link() {
    text-decoration: none;
    &:hover { text-decoration: underline; }
}
